@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');
/* Color Theme Swatches in Hex */
.Design-gráfico-1-hex { color: #044BD9; }
.Design-gráfico-2-hex { color: #0339A6; }
.Design-gráfico-3-hex { color: #2291F2; }
.Design-gráfico-4-hex { color: #1DA1F2; }
.Design-gráfico-5-hex { color: #262626; }


body {
  padding: 50px;
  font-family: 'Nunito', sans-serif;
  background-color: #262626;
  color: white;
}